.App-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.App-body {
  border-block: 2px solid red;
  min-height: 71dvh;
}

.App-footer {
  display: flex;
  min-height: 5dvh;
  align-items: flex-end;
  justify-content: center;
}
